body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: #111;
    margin: 0;
    font-family: sans-serif;
}
h1{
    font-size: 3rem;
    font-weight: bold;
    background: linear-gradient(270deg,
    rgb(255,0,0),
    rgb(0,255,0),
    rgb(0,0,255),
    rgb(255,0,255),
    rgb(255,255,0),
    rgb(0,255,255),
    rgb(255,0,0));
    background-size: 1000% 1000%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: moveCores 10s ease infinite;
}
@keyframes moveCores {
    0% {background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}